.counter-container {
    
    &__heading{
        font-size: 16px;
    }

    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__counter{
        margin: 20px;
    }
}