.employee-card {
    border: 1px solid black;
    width: 200px;
    height: 300px;
    margin: 20px;

    &__heading {
        font-size: 18px;
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-align: center;
    }

}