@use "./assets/sass/_variables.scss" as *;

.title {
  text-align: center;
}

.tracker__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
