@use "./assets/sass/_variables.scss" as *;
@font-face {
  font-family: "Playfair Display Bold";
  src: local("Playfair Display Bold"),
    url("./assets/fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf");
}

@font-face {
  font-family: "Open Sans Bold";
  src: local("Open Sans Bold"), url("/assets/fonts/OpenSans/OpenSans-Bold.ttf");
}

html {
  margin: 0;
  padding: 0;
  background-image: url("./assets/images/abstract-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  margin-top: 0;
  // margin-bottom: 40px;
  margin-bottom: 0;
  padding: 30px;
  text-align: center;
  font-family: "Open Sans Bold";
  background-color: rgba(255, 255, 255, 0.75);
  // color: rgb(123, 148, 255);
  color: rgb(42, 40, 40);
  font-size: 36px;
}

.headline {
  font-size: 18px;
  color: rgb(42, 40, 40);
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.75);
  padding-bottom: 30px;
}

.tracker__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
